body{
	background-image: url(8-seljalandsfoss_jeff_garriock.jpg);
	/*font-family: chilanka;*/
	font-family: Manjari;
	}
h2{
	color: #7799FF;
}
h3{
	color: #00AA00
	font-size:100px;
}
span {
	font-size: 2.0em;
	color: #FF0000;
	font-weight: bold;
}
h1{
	color: rgb(220,33,10);

}
p {
	line-height: 5;
}
h1,h2,h3 {
	text-align: center;

}
h1 {
	text-decoration: underline;
	/*for overline us "line through"*/
}