body{
	background-image: url(8-seljalandsfoss_jeff_garriock.jpg);
	/*font-family: chilanka;*/
	font-family: Manjari;
	}
h2{
	color: #7799FF;
}
h3{
	color: #00AA00
	font-size:100px;
}
span {
	font-size: 2.0em;
	color: #FF0000;
	font-weight: bold;
}
h1{
	color: rgb(220,33,10);
}
