body {
	background-image: url(8-seljalandsfoss_jeff_garriock.jpg);
	font-family: Manjari;
	color: #FF6600;

}
h1{
	text-align: center;

}
table {
	margin: auto;
}
td{
	width: 100px;
	height: 100px;
}
#middle{
	border-left:solid;
	border-right:solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: black;
}
#hor{
	border-top: solid;
	border-bottom: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: black;

}
#center{
	border-left: solid;
	border-right: solid;
	border-top: solid;
	border-bottom: solid;
	border-color: black;
	border-width: 1px;
}